task_base:
  task_name: passive_lv
  model_name: fe_heart_sage_v2
  exp_name: fe_heart_sage_v2
  overwrite_exp_folder: True
  gpu: True
  cuda_core: 0
  gpu_num: 1
task_data:
  n_shape_coeff: 32  # Number of shape coefficients to input to the emulator
task_trainer:
  epochs: 5000
  optimizer_param:
    name: adam
    learning_rate: 0.00001  # Learning rate for training the network
  loss_param:
    name: euclidean_distance_mse
  metrics_param:
    - mean_absolute_error
  callback_param:
    tensorboard:
#      log_dir: "./"
      profiler: False
    model_checkpoint:
      save_freq: 100
      save_model_freq: 200
    logs:
      update_freq: 1
      save_config: True
      save_task_code: True
    scheduling:
      avoid_work_hour: True
  dataset_param:
    batch_size: 1
    val_batch_size: 150
    num_workers: 1
    prefetch_factor: 1
    val_prefetch_factor: 1
  static_graph: False
  init_model_weights: False
task_train:
  neighbour_layers: 1
  node_input_mlp_layer:
    unit_sizes: [13, 128, 128, 40]
    layer_norm: True
    activation: tanh
  edge_input_mlp_layer:
    unit_sizes: [29, 128, 128, 40]
    layer_norm: True
    activation: tanh
  message_passing_layer:
    agg_method: MeanAggregator
    layer_threshold: [20, 40, 60, 80, 100]
    layer_selected_node_num: [12, 12, 12, 12, 12]
    agg_layer:
      agg_dim: 2
      keep_dim: False
    node_mlp_layer:
      unit_sizes: [80, 128, 128, 40]
      layer_norm: True
      activation: tanh
    edge_mlp_layer:
      unit_sizes: [89, 128, 128, 40]
      layer_norm: True
      activation: tanh
  theta_input_mlp_layer:
    unit_sizes: [4, 128, 128, 40]
    layer_norm: True
    activation: tanh
  decoder_layer:
    unit_sizes: [112, 128, 128, 1]
    layer_norm: False
    activation: tanh
    output_dim: 3
  labels:
    - displacement
    # - stress

