# note: D103 will remove in the future
[flake8]
ignore = D100,D101,D102,D103,D104,D105,D107,D401,W503
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    test_case  # 排除所有以 "test_case" 开头的文件